@model List<MarketPanel.Models.ViewModels.SaleDocumentListViewModel>

@{
    ViewData["Title"] = "MySaleDocuments";
}




<div class="container card">
    <div class="d-flex justify-content-between align-items-center m-3 mb-3">
        <h2>Satış Evraklarım</h2>
    </div>

    <table class="table">
        <thead class="table-light">
            <tr>
                <th style="width: 20%;">Evrak Numarası</th>
                <th style="width: 20%;">Oluşturulma Tarihi</th>
                <th style="width: 30%;">Evrak Açıklaması</th>
                <th style="width: 20%;">Toplam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var saleDocument in Model)
            {
                <tr>
                    <td>@saleDocument.DocumentNumber</td>
                    <td>@saleDocument.InsertDate</td>
                    <td>@saleDocument.Description</td>
                    <td>@saleDocument.TotalAmount.ToString("C")</td>

                    <td>
                        <a href="/SaleDocument/Detail/@saleDocument.Id" class="btn btn-gradient-primary">Evrak Detayı</a>
                    </td>

                    <td>
                        <a href="/SaleDocument/Edit/@saleDocument.Id" class="btn btn-gradient-warning">Düzenle</a>
                    </td>
                    <td>
                        <form asp-action="Delete" asp-controller="SaleDocument" method="post">
                            <input type="hidden" value="@saleDocument.Id" name="id" />
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>




